doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Thesis It — #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon' type='image/png' sizes='32x32' href='/images/thesisit.ico')
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        // Theme style
        link(rel='stylesheet', href='/stylesheets/style.css')
        // FOR IE9 below
        //if lt IE 9
            script(src='/javascripts/respond.min.js')
    body
        .form
            if(errors)
                .alert.alert-danger.alert-dismissable(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') x
                    strong Warning!
                for error in errors
                    | #{error.msg}.
            if(success_msg != "")
                .alert.alert-success.alert-dismissable(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') x
                    strong Success!
                        | #{success_msg}
            if(error_msg != "")
                .alert.alert-danger.alert-dismissable(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') x
                    strong Warning!
                        | #{error_msg}
            if(error != "")
                .alert.alert-danger.alert-dismissable(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') x
                    strong Warning!
                        | #{error.message}
            block content

        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        // Login
        script(src='/javascripts/login.js')