extends layout

block content
      header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(/images/img_bg_1.jpg);')
        .overlay
        .container
          .row
            .col-md-12.col-md-offset-0.text-center
              .display-t
                .display-tc.animate-box(data-animate-effect='fadeInUp')
                    h1.mb30 Details
      #fh5co-about
        .container
          .row.row-pb-md
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
                span Know us
                h2 #{entry.thesis}
                if entry.subtitle != ""
                    h3 #{entry.subtitle}
              
                form(action='/collection/' + entry._id, method='post')
                  a.btn.btn-primary(href='/collection/#{entry._id}/edit') Edit
                  input(type='hidden',value='DELETE',name='_method')
                  button.btn.btn-danger(type='submit')
                      | Delete
          .row.row-pb-md.animate-box
            .col-md-6.col-md-push-6
              .desc
                h3 Entry History
                p
                  | Added:  
                  span #{moment(entry.added).format('YYYY-MM-DD')}
                  |    |  Updated:  
                  span #{moment(entry.updated).format('YYYY-MM-DD')}
                  |    |  Uploaded by:  
                  span #{entry.uploadedBy}
                h3 Description
                p
                  | #{entry.description}
                p
                  | TAGS: 
                  span
                    for tag in entry.tags
                      | #{tag} . 
                h3 Links
                ul.fh5co-social-icons
                    if entry.youtube != ""
                        li
                            a(href='#{entry.youtube}', target='_blank')
                                i.icon-youtube
                    for image in entry.images
                      if image != ''
                        li
                            a(href='#{entry.image}', target='_blank')
                                i.icon-camera
                br
            .col-md-6.col-md-pull-6
                #myCarousel.carousel.slide(data-ride='carousel')
                  // Indicators
                  ol.carousel-indicators
                    - var counter = 0
                    for image in entry.images
                      if image !== ''
                        li.active(data-target='#myCarousel', data-slide-to='#{counter}', class=(counter === 0 ? 'active' : ''))
                        - counter++
                  // Wrapper for slides
                  .carousel-inner(role='listbox')
                    - var counter = 0
                    for image in entry.images
                      if image !== ''
                        .item(class=(counter === 0 ? 'active' : ''))
                          img.img-responsive(src='#{image}', alt='Thesis image')
                        - counter++
                    //- .item
                    //-   img.img-responsive(src='https://images.unsplash.com/16/unsplash_5263605581e32_1.JPG', alt='thesis image')
                    //- .item
                    //-   img.img-responsive(src='http://wefunction.com/wordpress/wp-content/uploads/2013/10/tumblr_ms9mpnB2o61st5lhmo1_1280.jpg', alt='thesis image')
                    //- .item
                    //-   img.img-responsive(src='https://cdn.pixabay.com/user/2014/05/07/00-10-34-2_250x250.jpg', alt='thesis image')
                    //- .item
                    //-   img.img-responsive(src='http://2.bp.blogspot.com/-y5x8a2YNFKA/VMGuWrRvBAI/AAAAAAAAgqA/1zda8X_QAzU/s1600/ad50c1f0.jpg', alt='thesis image')
                  // Left and right controls
                  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next

      #fh5co-team.fh5co-bg-section
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              span Productive Team
              h2 Meet Our Team
          .row
            .col-md-2
            for adviser in entry.advisers
                .col-md-4.col-sm-6.animate-box(data-animate-effect='fadeIn')
                    .fh5co-staff
                      img(src='/images/person3.jpg', alt='')
                      h3 #{adviser}
                      strong.role Adviser
          .row
            for member in entry.members
              if member != ""
                .col-md-3.col-sm-6.animate-box(data-animate-effect='fadeIn')
                  .fh5co-staff
                    img(src='/images/person1.jpg', alt='')
                    h3 #{member}
                    strong.role Researcher

      if success_msg != ""
        script(type='text/javascript').
          alert('#{success_msg}');
      if error_msg != ""
        script(type='text/javascript').
          alert('#{error_msg}')

